<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 
	本文件是spring上下文加载的bean文件，主要配置整个webapp共用的bean （@Component @Service 注解），例如 数据库配置
	通过web.xml里面的<context-param>配置并加载，一般来说放在 resources 目录下专门设置的 spring 文件夹下，
	名字可以加上业务的特点，保证与<context-param>中指定的名字一致即可
	 -->
	 
	<!-- 批量设置各配置文件的路径  -->
	<bean id="configProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>file:/opt/config/db.properties</value>
				<value>file:/opt/config/redis.properties</value>
				<value>file:/opt/config/config-env.properties</value>
				<value>file:/opt/config/service-url.properties</value>
				<value>file:/opt/config/mq-producer.properties</value>
				<value>file:/opt/config/my_app_specific/mq-consumer.properties</value>
			</list>
        </property>
    </bean>
	
	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="properties" ref="configProperties" />
		<!-- 仅单个配置文件的时候，可以直接将地址配在属性里 -->
		<!-- <property name="locations" value="file:/opt/config/db.properties"/> -->
    </bean>
	
	<!-- 也可以通过下面的方式加载配置文件 -->
	<!-- <context:property-placeholder location="db.properties"/> -->
	
	<import resource="classpath:spring/applicationContext.xml" />
	<import resource="classpath:spring/hessian-spring-client.xml" />
	<import resource="classpath:spring/new-mq-consumer.xml" />
	<import resource="classpath:spring/redisConfig.xml" />
	<import resource="classpath:spring/scheduledConfig.xml" />
	
	
	
	
</beans>