<!doctype html>
<html>
<head>
	<title>Meadowlark Travel</title>
	{{{_sections.head}}}
</head>
<body>
	{{!-- 注意此处是三个大括号用于放入数据 --}}
	{{{body}}}
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	{{{_sections.jquery}}}
	<header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
</body>
</html>