<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Vue 示例</title>
</head>
<body>
	<!-- 简单情况下v-cloak是解决初始化慢导致页面闪动的最佳实践，但使用webpack和vue-router时不再需要 -->
	<div id="app" v-cloak>

		<!------------------------ v-指令的展示 ------------------------>
		<!-- 定义它的元素或组件只渲染一次，包括元素或者组件的所有子节点。首次渲染后作为静态内容不再随数据的变化而变化 -->
		<!-- 业务中较少使用，多用于优化性能 -->
		<span v-once>{{message}}</span>

		<hr>

		<!-- 输出HTML元素，使用v-html -->
		<span v-html="link"></span>
		<hr>
		<!-- 通过v-pre跳过这个元素和子元素的编译过程，此时保留{{}}符号的显示 -->
		<span v-pre>{{这里的内容不会被编译}}</span>
		<hr>

		<!-- 数组遍历/对象属性遍历 v-for，语法: item in items 或者 item of items-->
		<ul>
			<!-- <li v-for="book of books">{{book.name}}</li> -->
			<li v-for="book in books">{{book.name}}</li>
			<br>
			<!-- 使用可选参数作为当前项的索引 -->
			<li v-for="(book, index) in books">{{index}} - {{book.name}}</li>
			<br>
			<!-- 使用内置标签<template>让v-for作用到多个dom元素 -->
			<template v-for="book in books">
				<li>书名: {{book.name}}</li>
				<li>作者: {{book.auther}}</li>
			</template>
			<br>
			<!-- 对象属性遍历，分别对应值、键、索引，后两项可选 -->
			<li v-for="(value, key, index) in user">
				{{index}} - {{key}} : {{value}}
			</li>
		</ul>
		<!-- 迭代整数 -->
		<span v-for="n in 10">{{n}} </span>

		<!-- 通过改变元素的css属性display来显示/隐藏元素，v-show不能在<template>上使用 -->
		<!-- v-show只是简单的css属性切换，适合频繁切换的条件，v-if是根据条件决定是否渲染相关DOM，适合条件不经常改变的场景，因为切换开销大 -->
		<p v-show="status === 1">当status为1时显示本行</p>


		<p v-if="status === 1">当status为1时显示本行</p>
		<p v-else-if="status === 2">当status为2时显示本行</p>
		<p v-else>否则显示本行</p>

		<!-- 一次判断要包含多个html元素时，使用vue内置的<template>元素 -->
		<template v-if="status === 2">
			<p>这是一段文本</p>
			<p>这是一段文本</p>
			<p>这是一段文本</p>
		</template>

		<!-- 使用key来指定不复用元素，下面input元素没有复用，label元素复用了，如果input复用则其中输入的内容在切换后依然保留 -->
		<template v-if="type === 'name'">
			<label>用户名:</label>
			<input placeholder="输入用户名" key="name-input"> 
		</template>
		<template v-else>
			<labe>邮箱:</labe>
			<input placeholder="输入邮箱" key="mail-input">
		</template>
		<button @click="handleToggleClick">切换输入类型</button>

		

		<!--------- v-bind 缩写为: 为DOM元素绑定Vue实例数据，可以是data数据或者computed计算属性 ---------->
		<!-- 凡是对标签的class进行样式绑定必然是绑定到判断对象上的，不能直接写CSS类名，
		     即使要绑定一个固定的CCS类也要写成 :class="{'btn':true}" 这样
			 简单来说，无论绑定的是样式类还是样式属性，:class和:style表达式内一定是一个JSON对象
			 :class的JSON对象的值一定是布尔型的，true表示加上样式，false表示移除样式类
			 :style的JSON对象则是一个样式配置项，key声明属性名，value则是样式属性的具体值-->

		<!-- 动态更新HTML元素的属性，此处url的值变更时，指向的超链接实时更新 -->
		<a v-bind:href="url">链接</a>
		<a :href="url">v-bind缩写的链接</a>

		<!-- v-bind绑定class属性动态实时切换class值，可以与class标签共存 -->
		<!-- 如下渲染结果为 class="static active" 即根据isActive的值判断是否放入active-->
		<div :class="{'active': isActive}" class="static"></div>
		<!-- 当class的内容过多时，使用计算属性表达更友好 -->
		<div :class="classes"></div>
		<!-- 使用数组语法给class绑定一个数组，应用一个class列表 -->
		<div :class="[activeCls, errorCls]"></div>
		<!-- 使用三元表达式根据条件切换class -->
		<div :class="[isActive ? activeCls : '', errorCls]"></div>
		<!-- 数组语法的另一种写法，active标记根据isActive的值来显示，errorCls一直显示 -->
		<div :class="[{'active': isActive}, errorCls]"></div>
		<!-- 使用计算属性给元素动态设置class值，在表达式较长或者逻辑复杂时，推荐优先使用 -->
		<button :class="btnClasses">按钮class</button>

		<!-- v-bind:style绑定内联样式 -->
		<div :style="{ 'color': color, 'fontSize': fontSize + 'px' }">文本</div>
		<!-- 放入data中维护样式 -->
		<div :style="styles">文本</div>
		<!-- 使用数组语法维护样式 -->
		<div :style="[styleA, styleB]">文本</div>


		<!-- 方法与事件 -->
		<!-------------------- v-on 缩写为@ 为DOM元素绑定事件，基本是methods方法 -------------------->
	
		<!-- if判断的指令 -->
		<p v-if="show">显示这段文本</p>
		<!-- 绑定事件监听器，主要有click，dbclick，keyup，mousemove -->
		<button v-on:click="handleClose">点击显示/隐藏</button>
		<button @click="handleClose">v-on缩写的按钮</button>

		点击次数:{{counter}}
		<!-- 直接使用表达式 -->
		<button @click="counter++">+1</button>
		<!-- 使用methods属性中的函数 -->
		<button @click="handleAdd(10)">+10</button>
		<!-- 使用特殊变量$event访问原生DOM事件 -->
		<a href="http://www.bing.com" @click="handleClick('禁止打开', $event)">打开链接</a>

		<!-- 使用Vue事件的修饰符 -->

		<!-- 阻止单击事件冒泡 -->
		<a @click.stop="handle">stop</a>
		<!-- 提交事件不再重载页面 -->
		<form @submit.prevent="handle">submit</form>
		<!-- 修饰符可以串联 -->
		<a @click.stop.prevent="handle">stop.prevent</a>

		<!-------------------- 表单与v-model -------------------->

		<hr>

		<!-- 使用v-model双向绑定数据，在数据输入的同时实时进行绑定 -->
		<!-- v-model指定将输入的值实时更新到nickname变量 -->
		<input type="text" v-model="nickname" placeholder="名字">
		<!-- 最基本的插值方法，插入data中绑定的数据nickname，实时更新 -->
		<h1>你好, {{nickname}}</h1>

		<!-- 文本域输入中v-model的使用 -->
		<textarea v-model="text2" placeholder="输入..."></textarea>
		<p>输入的内容是:</p>
		<p style="white-space: pre">{{text2}}</p>

		<!-- 对中文拼音输入来说，前述v-modle仅在选定中文后才实时显示，
				通过@input代替v-modle可以在拼音输入阶段实时显示 -->
		<input type="text" @input="handleInput" placeholder="输入...">
		<p>输入的内容是：{{message2}}</p>

		<!-- 单选按钮绑定一个布尔值 -->
		<input type="radio" :checked="picked">
		<label>单选按钮</label>	

		<hr>
		<!-- 通过v-model和value配合来实现选项互斥选择的效果，
				即数据pickedValue的值与单选按钮的value值一致时，选中该项 -->
		<input type="radio" v-model="pickedValue" value="html" id="html">
		<label for="html">HTML</label>
		<input type="radio" v-model="pickedValue" value="js" id="js">
		<label for="js">JavaScript</label>
		<input type="radio" v-model="pickedValue" value="css" id="css">
		<label for="css">CSS</label>
		<br>
		<p>选择的项是:{{pickedValue}}</p>

		<hr>
		<!-- 一般来说v-model绑定的是一个静态字符串或者布尔值，在需要绑定动态值时，可以结合v-bind来实现
			 如下当被选中时，picked的值变为123，即value2的值
			 此处逻辑是input这个DOM的值由value标签与value2绑定，
			 而v-model双向绑定的效果又将picked2的值与input这个DOM绑定 -->
		<input type="radio" v-model="picked2" :value="value2">
		<label>单选按钮</label>
		<p>{{picked2}}</p>
		<p>{{value2}}</p>


		<hr>
		<!-- 复选框的实现，也是通过v-model和value配合来实现，
					其中checked为数组，存储所有被选中的value -->
		<input type="checkbox" v-model="checked" value="html" id="html2">
		<label for="html2">HTML</label>
		<br>
		<input type="checkbox" v-model="checked" value="js" id="js2">
		<label for="js2">JavaScript</label>
		<br>
		<input type="checkbox" v-model="checked" value="css" id="css2">
		<label for="css2">CSS</label>
		<br>
		<p>选择的项是:{{checked}}</p>

		<hr>
		<!-- 结合v-model和v-bind实现toggle值动态绑定非 <静态字符粗和布尔> 值 -->
		<input type="checkbox" v-model="toggle" :true-value="value3" :false-value="value4">
		<label>复选框</label>
		<p>{{toggle}}</p>
		<p>{{value3}}</p>
		<p>{{value4}}</p>


		<hr>
		<!-- 单选选择列表实现，绑定的数据字段selected存储选中的选项的value -->
		<select v-model="selected">
			<option>html</option>
			<option value="js">JavaScript</option>
			<option>css</option>
		</select>
		<p>选择的是:{{selected}}</p>

		<hr>
		<!-- 多选列表实现，加multiple属性，此时v-model绑定一个数组 -->
		<select v-model="selected2" multiple>
			<option>html</option>
			<option value="js">JavaScript</option>
			<option>css</option>
		</select>
		<p>选择的是:{{selected2}}</p>

		<hr>
		<!-- 结合v-model和v-bind实现selected3 动态绑定非 <静态字符粗和布尔> 值-->
		<select v-model="selected3">
			<option :value="{ number: 123}">123</option>
		</select>
		{{selected3.number}}

		

		
		<!------------------------ 数据的基本处理 ------------------------>

		<hr>

		<!-- 插入时间，会根据date值的变动实时更新，此处通过过滤器格式化时间输出格式 -->
		<h2>{{date | formatDate}}</h2>
		<!-- 通过{{}}进行基本的表达式运算 -->
		{{number/10}}
		<br>
		<!-- {{}}内部不能使用if语句，只能使用三元运算符 -->
		{{ isOK ? 'ok' : 'not ok'}}
		<br>
		<!-- 此处可以将计算属性里reversedText对应的函数的内容填充到下面，也可以直接使用计算属性 -->
		{{text.split(',').reverse().join(',')}}
		|
		{{ reversedText }}
		|  <!-- 此处prices会随着计算结果的变化实时变化 -->
		{{prices}}



	</div>
	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script>
		var myData = {
			haha : "haha"
		}

		/*月份、日期、小时补0函数*/
		var padDate = function(value) {
			return value < 10 ? '0' + value : value;
		};

		var app = new Vue({
			el : '#app',  /* 另一种js的写法 document.getElementById('app'),  */

			/*基本数据属性*/
			data : {
				haha : myData,
				date: new Date(),  /*此处不会缓存，而是实时刷新*/
				link: '<a href="#">这是一个链接</a>',
				number: 100,
				isOK: false,
				text: '123, 456',
				show: true,
				url: "http://www.bing.com",

				package1: {price : 100},
				package2: { apple : { price : 201}},

				isActive: true,
				error:false,

				activeCls: 'active',
				errorCls: 'error',

				size: 'large',
				disabled: true,

				color: 'red',
				fontSize: 14,

				styles: {
					color: 'red',
					fontSize: 15 + 'px',
				},

				styleA: { color : 'red'},
				styleB: { fontSize : 16 + 'px'},

				message: "这是一段文本",

				status: 2,

				type: 'name',

				books: [
					{name: '《Vue.js in action》', auther: 'my'},
					{name: '《React in action》', auther: 'me'},
					{name: '《Angular in action》', auther: 'mine'}
				],

				user: {
					name: 'wahaha',
					gender: 'man',
					age: 88,
				},

				counter: 0,

				nickname : '',
				text2: '',
				message2: '',

				picked: true,
				pickedValue: 'js',
				checked: ['html', 'css'],
				selected: 'css',
				selected2: 'js',
				picked2: false,
				value2: 123,

				toggle: false,
				value3: 'a',
				value4: 'b',

				selected3:'',
			},

			/*过滤器  过滤器中是没有this引用的，该值是一个undefined，因此不要在过滤器内引用组件实例内的变量或者方法*/
			filters: {
				/*过滤器中定义日期格式化函数*/
				formatDate: function(value) {
					var date = new Date(value);
					var year = date.getFullYear();
					var month = padDate(date.getMonth() + 1);
					var day = padDate(date.getDate());
					var hours = padDate(date.getHours());
					var minutes = padDate(date.getMinutes());
					var seconds = padDate(date.getSeconds());
					return year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;
				}
			},

			/*方法*/
			methods: {
				handleClose: function() {
					this.show = !this.show;
				},
				handleToggleClick: function() {
					this.type = (this.type === 'name' ? 'mail' : 'name');
				},
				handleAdd: function(count) {
					this.counter += count; 
				},
				handleClick: function(message, event) {
					event.preventDefault();
					window.alert(message);
				},
				handle: function() {
					console.log("基本演示");
				},
				handleInput: function(e) {
					this.message2 = e.target.value;
				},
			},

			/*计算属性，所有的计算属性都以函数的形式写在Vue实例内的computed选项内，返回计算后的结果
			  1、计算属性可以依赖其他计算属性，也可以依赖其他Vue实例的数据
			  2、methods方法属性也可以实现计算属性的功能，但是计算属性的优点是它基于依赖缓存，只有其所依赖的数据发生变化时，才会重新取值
			    遍历大数组和做大量计算时，建议使用计算属性通过缓存提高效率*/
			computed: {
				reversedText: function() {
					return this.text.split(',').reverse().join(',');
				},

				prices : function() {
					var total = this.package1.price + this.package2.apple.price; 
					return total;
				},
				/*每个计算属性都包含一个getter和setter，前述都是使用默认用法，下面attention显示指定*/
				attention : {
					get: function() {
						return this.nickname + 'is not myname ';
					},
					set: function(newValue) {
						this.nickname = newValue;
					}
				},
				classes : function() {
					return {
						active: this.isActive && !this.error,
						'text-fail' : this.error && this.error.type === 'fail'
					}
				},
				btnClasses: function() {
					/*数组语法，返回class标签数组*/
					return [
						'btn',
						{
							['btn-' + this.size]: this.size !== '',
							['btn-disabled']: this.disabled
						}
					];
				}
			},

			created: function() {
				console.log("实例创建完后调用，尚未挂载");
			},
			mounted: function() {
				console.log("el挂载到实例上后调用,第一个业务逻辑开始的地方");

				var _this = this;  // 声明一个变量指向Vue实例this，保证作用域一致
				this.timer = setInterval(function() {
					_this.date = new Date();  /*修改数据date*/
				}, 1000);
			},
			beforeDestory: function() {
				console.log("实例销毁之前调用，主要解绑addEventListener监听的事件");

				if(this.timer) {
					clearInterval(this.timer);  // 在Vue实例销毁前清除定时器
				}
			}
		});
		console.log(app.haha.haha);
		myData.haha = "hehe"
		console.log(app.haha.haha);

	</script>
</body>
</html>
